@charset "utf-8";

.App {
  text-align: center;
}


.pick {
  position: absolute;
  font-size: 25px;
  block-size: 30px;
  top: 20%;
  left: 5%;
  transform: translate(-50%, -50%);
}

.wrap {
  position: relative;
}

#quest {
  margin-left: 35px;
  font-family: 'Gowun';
  text-align: left;
  padding: 20px;
  font-size: 30px;
  font-weight: 800;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-MediumItalic.ttf');
}

@font-face {
  font-family: 'Gowun';
  src: url('./assets/fonts/GowunDodum-Regular.ttf');
}

@font-face {
  font-family: 'Kanit';
  src: url('./assets/fonts/Kanit-SemiBold.ttf');
}

@font-face {
  font-family: 'Oswald';
  src: url('./assets/fonts/Oswald-Medium.ttf');
}

@font-face {
  font-family: 'DoHyeon';
  src: url('./assets/fonts/DoHyeon-Regular.ttf');
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}